* {
    box-sizing: border-box;
}


 header{
    width: 100%;
    height: 120px;
    margin: 5px;
    border: 1px solid burlywood;


 }
 .logo{
    width: 45%;
    height:100%
    float: left;
    position: relative;

 }
  .logo img{
    width: 115px;
    height: 115px;
  }



.menu {
    color: rgb(149, 149, 153);
    width: 50%;
    height: 100%;
    position: relative;
    float: right;
    border: 1px solid red;

}
.menu ul{
    text-decoration: none;

}

.menu ul li{
    float: left;
    display: block;
    font-size: 18px;
    padding: 25px;

}

section{
    width: 100%;
    height: 950px;
    border: 1px solid rgb(255, 0, 17);
}
.banner{
    width: 92%;
    height: 30%;
    padding: 1px;
    margin: 1px;
    position: relative;
    float: inline-end;
    border: 1px solid black;
    background-image:url(../img/fotogrande.jpg);
}

.article1 {
    width: 100%;
    height: 35%;
    float: left;
    position: relative;
    border: 1px solid rgb(10, 105, 46);
    text-align: center;
}

.card1 {
    width: 30%;
    height:90%;
    padding: 1px;
    margin: 12.5px  ;
    display: inline-block;
    background-color: rgb(191, 30, 30);
    border: 1px solid rgb(18, 226, 46);
}
.card1 img{
    width: 100%;
    height: 50%;
}
.card2 {
    width: 30%;
    height:90%;
    padding: 1px;
    margin: 12.5px ;
    display: inline-block;
    background-color: rgb(228, 128, 85);
    border: 1px solid rgb(50, 228, 65);
}
.card2 img{
    width: 100%;
    height: 50%;
}
.article2 {
    width: 100%;
    height: 25%;
    border: 1px solid blue;
    float: left;
    position: relative;  
    text-align: center; 

}
.b1{
    background-image: url(../img/8917447704606.jpg);
    text-transform:75%;
    border: 1px solid rgb(238, 233, 129);
    color: white;
    width:  220px;
    height: 220px;
    margin: 5px;
    padding: 1px;
    
    display: inline-block
}
.b2{
    background-image: url(../img/8917448327198.jpg);
    text-transform:75%;
    border: 1px solid rgb(238, 233, 129);
    color: white;
    width:  220px;
    height: 220px;
    margin: 5px;
    display: inline-block;


}


.b3{
    background-image: url(../img/8917447868446.jpg);
    text-transform:75%;
    border: 1px solid rgb(238, 233, 129);
    color: white;
    width:  220px;
    height: 220px;
    margin: 5px;
    padding: 1px;
    display: inline-block;
}
.b4{
    background-image: url(../img/8917447966750.jpg);
    text-transform:75%;
    border: 1px solid rgb(238, 233, 129);
    color: white;
    width:  220px;
    height: 220px;
    margin: 5px;
    padding: 1px;
    display: inline-block;
}


footer {
    background-color: lightgray;
    clear: both;
    padding: 12px;
    text-align: center;
}