* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
}
 header{
    width: auto;

 }
 .logo{
    width: 20%;
    float: left;
    position: relative;
    padding: auto;
    margin-left: 35px;
 }


nav {
    background-color: blue;
    color: #fff;
    width: 50%;
    float: right;
    position: relative;
    margin-right: 35px;
    margin: 10px;
}
nav ul{
    list-style: none;

}
nav ul li{
    float: left;
    display: block;
    font-size: 20px;
    text-decoration: none;
    padding: 25px;

}


.sidebar {
    margin-top: 30px;
    float: left;
    width: 15%;
    height: 500px;
}

.sidebar .menu-item {
    padding: 10px;
}
.banner{
    width: 100%;
    height: 30%;
    position: relative;
    
}
.banner .img{
    width: 100%;
    height: 30%;
}

main {
    float: left;
    width: 80%;
    margin-left: 5%;
    margin-top: 30px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    font-size: .9rem;
    width: 33%;
    float: left;
    text-align: center;
    padding: 10px;
}

.card img {
    width: 50%;
}

.articles {
    float: left;
    column-count: 1;
    margin-top: 30px;
}
.articles imput{
    border: 1px solid red;
}

footer {
    background-color: lightgray;
    clear: both;
    padding: 15px;
    text-align: center;
}