* {
    box-sizing: border-box;
}
:root{
    --bg-color: #009fe3;
    --text-color: #FFF;
    --header-text-color: #808080;
    --card-izq: #f39;
    --card-der: #f93;
}


body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    width: 100%;
}

 .container{
    margin: 0 auto;
    width: 80%;
    border: 1px solid green;
 }
 .cb {
    clear: both;
}

 #headerIzq{
    border: 1px solid rebeccapurple;
    float: left;
    width: 20%;

 }
 #headerDer{
    border: 1px solid red;;
    float: right;
    width: 80%;
    font-weight: bold;
    color: var(--header-text-color);

 }
header img{
    width: 80px;
}
header ul, header li {
    padding: 0;
    margin: 0;
}

header li {
    list-style-type: none;
    float: right;
    margin: 30px 5px 10px 20px;
    padding: 5px 10px;
    
}

header li:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 3px;
}
.fotoGrande{
    background-image: url(../img/fotogrande.jpg);
    height: 500px;
    background-size: cover;
}
#fotoGrandeDentro {
    color: var(--text-color);
    padding-top: 20px;
    font-size: 2rem;
}

#fotoGrandeDentro input {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 8px 80px;
    border: 0;
    border-radius: 3px;
    font-size: 1rem;
}
#fotoGrandeDentro input:hover {
    font-size: 2rem;
}

.noticia-arriba {
    width: 47%;
    float: left;
    margin: 10px;
    color: var(--text-color);
    position: relative;
}

.noticia-arriba__texto {
    padding: 10px;
    height: 150px;
}

.noticia-arriba__ultimo {
    float: right;
}

.noticia-arriba__img {
    margin-bottom: -4px;
}

.noticia-arriba__texto p:first-of-type{
    padding-top: 0;
    margin-top: 0;
}

.noticia-arriba__img img {
    width: 100%;
}

.noticia-arriba__texto--rosa {
    background-color: var(--card-izq);
}

.noticia-arriba__texto--naranja {
    background-color: var(--card-der);
}

.noticia-arriba__texto input {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--text-color);
    padding: 10px 50px;
    border: 2px solid var(--text-color);
    border-radius: 3px;

}

.noticia-arriba__texto--rosa input {
    background-color: var(--card-izq);
}

.noticia-arriba__texto--naranja input {
    background-color: var(--card-der);
}
.cards-noticias_texto--naranja input {
    background-color: var(--card-izq);
}

.cards-noticias_texto--rosa input {
    background-color: var(--card-der);
}

.noticias-abajo {
    text-align: center;
}

.noticia-abajo {
    display: inline-block;
    width: 23%;
    color: var(--text-color);
    position: relative;
    margin: 5px;
}

.noticia-abajo img {
    width: 100%;
    height: auto;
}

.noticia-abajo__caja-transparente {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: start;
    padding: 15px;
    font-size: 1.2rem;
}

.noticia-abajo__caja-transparente input {
    position: absolute;
    right: 20px;
    bottom: 30px;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: 0;
    border-radius: 3px;
    font-size: 1.1rem;
}

.footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    clear: both;
    padding : 12px;
    text-align : center;
    font-size :1rem; 
}

